{% extends 'base.html' %}

{% block title %}About Us - Pancreatic cancer {% endblock %}

{% block content %}
<div class="jumbotron">
    <h1 class="display-4">About Pancreatic cancer </h1>
    <p class="lead">Pancreatic cancer is a type of cancer that begins as a growth of cells in the pancreas. The pancreas lies behind the lower part of the stomach. It makes enzymes that help digest food and hormones that help manage blood sugar.

        The most common type of pancreatic cancer is pancreatic ductal adenocarcinoma. This type begins in the cells that line the ducts that carry digestive enzymes out of the pancreas.
        
       </p>
    <hr class="my-4">
    <p> Pancreatic cancer rarely is found at its early stages when the chance of curing it is greatest. This is because it often doesn't cause symptoms until after it has spread to other organs.</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div>
{% endblock %}
